@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
      url('/fonts/inter-v3-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('/fonts/inter-v3-latin-regular.woff2') format('woff2');
  }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
      url('/fonts/inter-v3-latin-600.woff2') format('woff2');
}
